/*  RESET */
body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

/* INDEX (MAPA) */
.title-box {
    background: rgba(0,0,0,0.85);
    padding: 15px 25px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.title-box h1 {
    color: white;
    font-size: 22px;
    margin: 0;
}

.index-container {
    background-image: url("../img/kanto-map.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 40px;
    padding-top: 120px;
}

.pokedex-img {
    width: 300px;
}

/* LISTA */
.pokemon-list {
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px black;
}

.pokemon-list a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

/* HOVER COLORES */
.pokemon-list li:nth-child(1) a:hover { color: lightgreen; }
.pokemon-list li:nth-child(2) a:hover { color: orange; }
.pokemon-list li:nth-child(3) a:hover { color: lightblue; }

/* ===============================
   PÁGINAS POKEMON
================================ */
.pokemon-background {
    background-color: #f3e7d3;
    min-height: 100vh;
    padding: 40px;
}

/* CONTENEDOR */
.pokemon-card {
    max-width: 900px;
    margin: auto;
}

/* TÍTULO */
.pokemon-title {
    text-align: center;
    margin-bottom: 30px;
}

/* IMAGEN PRINCIPAL */
.pokemon-img {
    width: 300px;
    display: block;
    margin-bottom: 20px;
}

/* TEXTO */
.pokemon-text {
    max-width: 800px;
    line-height: 1.6;
}

/* ===============================
   TIPOS
================================ */
.planta {
    background: green;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}
.veneno {
    background: rgb(135, 0, 137);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}
.fuego {
    background: orange;
    color: black;
    padding: 6px 10px;
    border-radius: 6px;
}

.agua {
    background: lightblue;
    color: black;
    padding: 6px 10px;
    border-radius: 6px;
}

/* ===============================
   EVOLUCIONES 🔥
================================ */
.evoluciones {
    margin-top: 20px;
}

.evoluciones img {
    max-width: 160px;
    margin: 15px;
    transition: transform 0.3s, filter 0.3s;
    cursor: pointer;
}

/* HOVER */
.evoluciones img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* BOTÓN */
.back-button {
    display: block;
    margin: 40px auto;
    background: red;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    transition: 0.3s;
}

.back-button:hover {
    background: darkred;
}