/* Fondo */
.fondo-index{
    background-image: url("../img/kanto-map.jpeg");
    background-size: cover;
    background-position: center;
}

/* Título estilo imagen */
.titulo{
    text-align:center;
    font-size:60px;
    color:white;
    background-color: rgba(0,0,0,0.6);
    display:inline-block;
    padding:10px 30px;
    border-radius:10px;
    margin:20px auto;
    display:block;
    width:fit-content;
}

/* Zona izquierda */
.menu{
    margin-left:40px;
    margin-top:40px;
}

/* Imagen pokedex */
.pokedex{
    width:300px;
}

/* Lista */
ul{
    margin-top:20px;
    font-size:25px;
    list-style: disc;
}

/* Links */
a{
    color:white;
    text-decoration:none;
}

/* Hover colores tipo pokemon */
ul li:nth-child(1) a:hover{
    color:lightgreen; /* Bulbasaur */
}

ul li:nth-child(2) a:hover{
    color:orange; /* Charmander */
}

ul li:nth-child(3) a:hover{
    color:lightblue; /* Squirtle */
}