/* Fondo del mapa */
body{
    margin:0;
    background-image: url("../img/kanto-map.jpeg");
    background-size: cover;
    background-position: center;
    font-family: monospace;
    color:white;
}

/* Titulo */
h1{
    text-align:center;
    font-size:60px;
    margin-top:20px;
}

/* Contenedor izquierda */
.contenedor{
    margin-left:40px;
}

/* Imagen pokedex */
.pokedex{
    width:300px;
}

/* Lista pokemon */
.lista{
    margin-top:20px;
    font-size:25px;
}

a{
    color:rgb(255, 255, 255);
    text-decoration:none;
}